.container{
  background-color: white;
  font-style: italic;
  font-family: monospace;
}
.logo{
  color: #910721;
}

.menu{
  background-color: #910721;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
}
.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.menu a.active {
  background-color: #4CAF50;
  color: white;
}
